In [4]:
import sys
print('Pyhton Version : ',sys.version)

Pyhton Version :  3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]

In [99]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [6]:
print('integer ', type(1))
print('float ', type(1.5))
print('string ', type('Reksi'))
print('Boolean ', type(False))

integer  <class 'int'>
float  <class 'float'>
string  <class 'str'>
Boolean  <class 'bool'>

### Tuple

In [10]:
#Example Tuple
example_tuple=(1,'Masal',2,'Reksi',3,'Duygu')
print(example_tuple,type(example_tuple))
#first index is zero
print(example_tuple[0])

(1, 'Masal', 2, 'Reksi', 3, 'Duygu') <class 'tuple'>
1

In [19]:
#tuple index (First index : last index : jump index)
print(example_tuple[0:3])
print(example_tuple[::2])
#Last index
print(example_tuple[-1])
#Tuple incommutable 
example_tuple[0] ='hayru'

(1, 'Masal', 2)
(1, 2, 3)
Duygu

TypeError: 'tuple' object does not support item assignment

### List

In [36]:
#example List
example_list = [1,[2,3,4],3,4,5,6]
print(type(example_list))
#fisrt fou4 list
print(example_list[:4])
#List is Modified
example_list[1] = 'HAYRU'
print(example_list[1])
print(example_list)
#list data add  and remove
example_list.append('Reksi')
print(example_list)
example_list.remove(1)
print(example_list)

<class 'list'>
[1, [2, 3, 4], 3, 4]
HAYRU
[1, 'HAYRU', 3, 4, 5, 6]
[1, 'HAYRU', 3, 4, 5, 6, 'Reksi']
['HAYRU', 3, 4, 5, 6, 'Reksi']

### SET

In [48]:
#sets is reguler it use {}
list_to_be_made_a_set = [1,2,3,4,5,5,7,8,6,2,7]
print(list_to_be_made_a_set)#list format

#list is convertable to set
new_set = set(list_to_be_made_a_set)
print(new_set)

#set union and Intersect cluster example 
set_A = {1,2,3,4} 
set_B = {2,3,4,5,6,7}
print('Union set', set_A.union(set_B))
print('Intersect set', set_A.intersection(set_B))

[1, 2, 3, 4, 5, 5, 7, 8, 6, 2, 7]
{1, 2, 3, 4, 5, 6, 7, 8}
Union set {1, 2, 3, 4, 5, 6, 7}
Intersect set {2, 3, 4}

In [50]:
#set is immutable 
set_A[0] =2

TypeError: 'set' object does not support item assignment

In [45]:
#Arttribute error example

list_A = [1,2,3,4]
list_B = [2,3,4,5,6,7]
print('Union set', list_A.union(list_B))
print('Intersect set', list_A.intersection(list_B))

AttributeError: 'list' object has no attribute 'union'

### Dictionaries

In [59]:
# Dictionary is use Key /Value and use {}, it likes libary
dic = {'IT Printer' : 1, 'Finance Printer' : 2 , 'Manager Printer' : 3}
print(dic['Finance Printer'])

2

In [95]:
#System Cabinet example
system_cabin = {'Cisco Router ': 2, 'Backbone Switch ': [2,3,4], 'Rear Switch':{'Hp Swicth':[6,7],'Cisco Switch':[5,6,7]} }
print('Backbone switchs racks',system_cabin['Backbone Switch '])
print('Cisco switchs racks',system_cabin['Rear Switch']['Cisco Switch'])
print('HP switchs racks',system_cabin['Rear Switch']['Hp Swicth'])

Backbone switchs racks [2, 3, 4]
Cisco switchs racks [5, 6, 7]
HP switchs racks [6, 7]

In [96]:
#Dictionary det a tuple key and value
system_cabin[('Firewall racks')] = [9]
for key, value in system_cabin.items():
    print(key,value)

Cisco Router  2
Backbone Switch  [2, 3, 4]
Rear Switch {'Hp Swicth': [6, 7], 'Cisco Switch': [5, 6, 7]}
Firewall racks [9]

In [98]:
#print('Keys : ' ,system_cabin.popitem())#last in first out
print('Keys : ' ,system_cabin.keys())
print('Values : ',system_cabin.values())

Keys :  dict_keys(['Cisco Router ', 'Backbone Switch ', 'Rear Switch', 'Firewall racks'])
Values :  dict_values([2, [2, 3, 4], {'Hp Swicth': [6, 7], 'Cisco Switch': [5, 6, 7]}, [9]])

### If block

In [103]:
#Ä°f is decision control
number = 10
if number < 5:
    print('Number is smallest than 5')
if number < 10:
    print('Number is smallest than 10')
if number < 15:
    print('Number is smallest than 15')
if number < 20:
    print('Number is smallest than 20')
    
print('########################################################')

Number is smallest than 15
Number is smallest than 20
########################################################

In [105]:
a = 10
b = 13
c = 12
d = 20
if a > b:
    print('a is biggist the b')
elif c > b:
    print('b is biggist the c')
else:
    print('we dont found biggest')

we dont found biggest